/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

::-webkit-input-placeholder {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 0;
  color: black;
}

::-moz-placeholder {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 0;
  color: black;
}

:-ms-input-placeholder {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 0;
  color: black;
}

::-ms-input-placeholder {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 0;
  color: black;
}

::placeholder {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 0;
  color: black;
}

input {
  padding-left: 10px;
}
body {
  font-family: "PT sans", Arial, sans-serif;
  max-width: 1280px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header {
  margin: 0 auto;
  padding: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 70px;
}

.navigation .header-logo {
  padding: 0;
  margin: 0;
  height: 64px;
}

.main-header-logo {
  width: 140px;
  height: 64px;
  margin: 0;
  padding: 0;
}

.navigation-list-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 28px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 625px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
}
.navigation-item a {
  position: relative;
  top: -4px;
}

.navigation-link {
  display: block;
  text-decoration: none;
  text-align: center;
}

.navigation-item--catalog a::before,
.navigation-item--index a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 46px;
  background-color: #756257;
}

.navigation-link-search {
  display: block;
  text-decoration: none;
  background-image: url(../images/VectorSearch.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 44px;
  height: 64px;
}

.navigation-link-heart {
  display: block;
  text-decoration: none;
  background-image: url(../images/favorites.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 44px;
  height: 64px;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
}

.navigation-item-heart {
  background-image: url(images/favorites.svg);
  background-repeat: no-repeat;
  min-width: 44px;
  min-height: 64px;
}

.botton {
  background-color: #756157;
  border-radius: 3px;
  margin: 14px 0 0 20px;
  padding: 8px 34px;
}

.navigation-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  padding: 0;
  margin: 0;
}

.advantange-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantange-item-1-wrapper {
  margin: 0;
  padding: 0;
  width: 230px;
  height: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.advantange-item-3-wrapper {
  margin: 0;
  padding: 0;
  width: 230px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.advantange {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.block-section-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 123px;
}

.block-info {
  margin: 0;
  padding: 69px 274px;
  margin-bottom: 15px;
}

.block-info-search {
  margin: 0;
  padding: 96px 304px;
}

.block-info-wrapper {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 215px;
}

.main-title-index {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  line-height: 36px;
}
.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  margin-top: 125px;
  margin-bottom: 20px;
}

.info-index {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 54px;
  line-height: 26px;
}
.index-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  margin-bottom: 45px;
  margin-top: 0;
}

.subscription-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #f2f2f2;
  width: 450px;
  border: none;
  margin: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.subscription-input::-webkit-input-placeholder {
  font-weight: 400;
  color: gray;
}

.subscription-input::-moz-placeholder {
  font-weight: 400;
  color: gray;
}

.subscription-input:-ms-input-placeholder {
  font-weight: 400;
  color: gray;
}

.subscription-input::-ms-input-placeholder {
  font-weight: 400;
  color: gray;
}

.subscription-input::placeholder {
  font-weight: 400;
  color: gray;
}

.subscription-botton {
  width: 230px;
  height: 52px;
  background-color: #82b3d3;
  border: none;
  margin: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.subscription-text {
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  display: block;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-title-h {
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  display: block;
}

.suggestions {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.advantange-discription-white {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-display: swap;
  padding: 0;
  margin: 0;
  color: #ffffff;
  display: block;
}

.differences {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  display: block;
}

.hotel-search {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 50px;
  text-transform: uppercase;
  border-radius: 3px;
}

.main-block {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../images/index-background.jpg");
}

.advantange-icon-home {
  width: 75px;
  height: 72px;
  margin: 0;
  padding: 0;
}

.Grand-Canyon {
  display: block;
  padding: 0;
  margin: 0;
}

.advantange-icon-food {
  width: 74px;
  height: 70px;
}

.advantange-icon-souvenir {
  width: 64px;
  height: 76px;
  margin: 0;
  padding: 0;
}
.advantange-item-6 {
  background-image: url(images/food.svg);
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
}

.advantange-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

.advantange-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}

.advantange-title-black:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  top: 86px;
  left: 85px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.advantange-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  color: #333333;
}

.advantange-item-4 {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 80px 85px;
  margin: 0;
}

.advantange-item-4-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 230px;
  height: 223px;
}

.advantange-item-iconhome {
  background-image: url(../images/VectorHome.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.advantange-item-5-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 223px;
  width: 230px;
  margin: 0;
}

.advantange-item-iconfood {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
}

.advantange-item-iconsouvenir {
  background-image: url(../images/VectorSuvenir.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
}

.advantange-item-5 {
  padding: 80px 85px 81px;
  margin: 0;
}

.advantange-title-white {
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.advantange-title-white::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  top: 86px;
  left: 85px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
}

.advantange-item-7 {
  background-image: url(images/VectorSuvenir.svg);
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
}

.subscription-index {
  background-image: url(../images/bgimage.jfif);
  background-size: cover;
  padding: 96px 258px 104px;
  margin-top: 5px;
}

.subscription-index-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 684px;
  min-height: 214px;
  margin: 0;
  padding: 0;
}

.subscription {
  margin: 0 auto;
  padding-bottom: 55px;
  width: 1200px;
  min-height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
}

.section-block {
  background-image: url(../images/mainbg.jpg);
  width: 1200px;
  height: 410px;
  margin: 0 auto;
}

.navigation-list-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  min-width: 300px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.buttonVK {
  display: block;
  padding: 13px;
  margin: 0;
  fill: #83b3d3;
}

.buttonVK:hover {
  fill: #68a2ca;
}

.buttonVK:active {
  fill: rgba(104, 162, 202, 0.3);
}

.buttonVK:focus {
  fill: #68a2ca;
}

.buttonTEL {
  display: block;
  padding: 13px;
  margin: 0;
  fill: #83b3d3;
}

.buttonTEL:hover {
  fill: #68a2ca;
}

.buttonTEL:active {
  fill: rgba(104, 162, 202, 0.3);
}

.buttonTEL:focus {
  fill: #68a2ca;
}

.buttonYOU {
  display: block;
  padding: 13px;
  margin: 0;
  fill: #83b3d3;
}

.buttonYOU:hover {
  fill: #68a2ca;
}

.buttonYOU:active {
  fill: rgba(104, 162, 202, 0.3);
}

.buttonYOU:focus {
  fill: #68a2ca;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-sedona {
  margin-top: 51px;
}

.footer-social {
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 144px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer {
  width: 1060px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.number-wrapper {
  margin-top: 0;
  align-content: center;
}

.footerlogo {
  fill: black;
}

.footerlogo:hover {
  fill: #756157;
}

.footerlogo:focus {
  fill: #756157;
}

.footerlogo:active {
  fill: #756157;
  opacity: 30%;
}

.footer-image {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-logo {
  padding: 0;
}

.advantange-item-1 {
  background-color: #82b3d3;
  margin: 0;
  width: 400px;
  height: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantange-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 120px;
  margin: 0;
}

.number {
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  display: block;
  margin: 0;
  padding: 0;
  align-content: center;
}

.number:hover {
  color: #756157;
}

.number:focus {
  color: #756157;
}

.number:active {
  color: rgba(117, 97, 87, 0.3);
}

.element {
  padding: 15px;
}

.main {
  width: 1200px;
  height: 64px;
}

.Vectorwhite {
  background-repeat: no-repeat;
  margin-bottom: -5px;
  margin-top: 20px;
}

.section-block-wrapper {
  width: 1060px;
  margin: 0;
  padding: 30px 70px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-filter-wrapper {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotels-sedona {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 8px 0;
  line-height: 78px;
  display: block;
  text-align: left;
}

.bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 115px;
  margin-bottom: 40px;
}

.mini-home {
  background-image: url(../images/minihome.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  display: block;
  margin: 4px 10px 4px 0;
}

.mini-line {
  background-image: url(../images/miniline.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 10px;
  display: block;
  margin-right: 10px;
}

.hotels {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.hotels:hover {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.hotels:active {
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
}
.catalog-filter-group {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 0;
  text-align: left;
}

.catalog-wrapper {
  margin: 0;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 70px;
}

.catalog-wrapper-2 {
  margin: 0;
  margin-right: 140px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 32px;
  padding: 0;
}

.price-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
}

.catalog-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 16px;
  padding: 0;
}

.catalog-filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 288px;
}

.apply-botton {
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
  background-color: #82b3d3;
  border: none;
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
}

.button-reset {
  width: 191px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.boottons {
  width: 191px;
  margin-bottom: 0;
  margin-top: 56px;
  padding: 0;
  margin-left: 70px;
}

.search-wrapper {
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px 70px 60px;
  position: relative;
}

.search-wrapper::before {
  content: "";
  background-color: #e6e6e6;
  position: absolute;
  bottom: 40px;
  left: 70px;
  width: 1060px;
  height: 1px;
}

.card-control {
  display: none;
  padding: 0;
}

.control-input {
  display: none;
  margin: 0;
  padding: 0;
}

.control-input:checked + .fake::before {
  opacity: 1;
}

.fake {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  top: 3px;
}

.fake:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.fake:focus {
  background-color: rgba(255, 255, 255);
}

.fake:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/ok1.svg);
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.text {
  margin-left: 11px;
  cursor: pointer;
}

.text:hover {
  color: rgba(255, 255, 255, 0.6);
}

.text:focus {
  color: rgba(255, 255, 255);
}

.text:active {
  color: rgba(255, 255, 255, 0.3);
}

.text-radio {
  margin-left: 11px;
}

.control-input-radio {
  display: none;
}

.control-input-radio:checked + .fake-radio::before {
  opacity: 1;
}

.fake-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  top: 3px;
}

.text-radio:hover {
  color: rgba(255, 255, 255, 0.6);
}

.text-radio:focus {
  color: rgba(255, 255, 255);
}

.text-radio:active {
  color: rgba(255, 255, 255, 0.3);
}

.fake-radio:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.fake-radio:focus {
  background-color: rgba(255, 255, 255);
}

.fake-radio:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.fake-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/Vectorball.svg);
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.control-input:checked + .fake-radio::before {
  opacity: 1;
}

.control-input + label {
  cursor: pointer;
}

.control-input:focus + label {
  border: 2px solid #68a2ca;
}

.control-input:hover + label {
  border: 2px solid #68a2ca;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hover-visual:hover {
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.control-input:checked + label {
  border: 1px solid black;
}

.control-input-visual:checked ~ ul {
  display: block;
  margin: 0;
}

.control-input-visual:checked ~ ul .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 230px;
}

.product-card-info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -10px;
}

.control-input-visual:checked ~ ul .product-card-info {
  margin-left: 40px;
}

.control-input + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  margin-left: 6px;
}

.search-results {
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-class-start {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  width: 123px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
  position: relative;
  background-color: #f2f2f2;
  outline: none;
  padding-left: 20px;
}

.input-class-start:hover {
  background-color: #e6e6e6;
}

.input-class-start:focus {
  background-color: #e6e6e6;
  outline: 1px solid #83b3d3;
}

.input-class-start:active {
  background-color: #f2f2f2;
  outline: 1px solid #000000;
}

.input-class-end + label,
.input-class-start + label {
  position: relative;
}
.input-class-start + label::before {
  content: "от";
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 20px;
  top: 12px;
  right: 20px;
  height: 5px;
}

.input-class-end + label::before {
  content: "до";
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 20px;
  top: 12px;
  right: 20px;
  height: 5px;
}

.input-class-end {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  width: 123px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
  background-color: #f2f2f2;
  outline: none;
  padding-left: 20px;
}

.input-class-end:hover {
  background-color: #e6e6e6;
}

.input-class-end:focus {
  background-color: #e6e6e6;
  outline: 1px solid #83b3d3;
}

.input-class-end:active {
  background-color: #f2f2f2;
  outline: 1px solid #000000;
}

.slider-container {
  margin: 0;
  padding: 0;
  width: 288px;
  background: rgb(255, 255, 255);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(75%, rgba(255, 255, 255, 1)),
    color-stop(75%, rgba(255, 255, 255, 0.3))
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0.3) 75%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0.3) 75%
  );
}

.slider {
  width: 287px;
  height: 4px;
  margin: 0;
  position: relative;
  /* background-color: #ffffff; */
}
.slider-start-pin {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 0;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer;
}
.slider-finish-pin {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer;
}

.slider-process {
  position: absolute;
  top: 0;
  height: 3px;
  z-index: 1;
}

.product-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffffff;
}

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1060px;
  height: 896px;
  margin: 0 70px 40px 70px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.product-name {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  width: 300px;
}

.product-card-link {
  margin: 0;
  padding: 0;
}
.product-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 16px;
}

.product-button {
  margin: 0;
  padding: 0;
  width: 300px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.button-card-rating {
  padding: 9px 22px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.product-stars-rating {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.vectorstar {
  padding: 0;
  display: block;
  margin: 0;
  margin-right: 8px;
}

.product-card-image {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.product-card-title {
  margin: 0;
  text-align: left;
  font-size: 24px;
}

.apply-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
.apply-botton:hover {
  background-color: #68a2ca;
}
.apply-botton:focus {
  background-color: #68a2ca;
}
.apply-botton:active {
  background-color: #82b3d3;
}

.apply-text:active {
  color: rgba(255, 255, 255, 0.3);
}

.Pages-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 179px;
  min-width: 340px;
}

.option-wrapper {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 40px;
}

.option-button-wrapper {
  margin: 0;
  padding: 0;
}

.overview-icons {
  margin: 0;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.overview-icons:hover {
  border: 2px solid black;
}

.overview-icons:focus {
  border: 2px solid #68a2ca;
}

.overview-icons:active {
  border: 2px solid black;
}

.overview-icons:active ~ ul {
  border: 3px solid black;
}

.select-control {
  width: 292px;
  height: 49px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 3px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  outline: none;
  margin-right: 70px;
  margin-left: 20px;
}
.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.cheap {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.product-card-image {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  display: block;
  padding: 0;
  margin: 0;
  width: 140px;
  text-align: left;
}

.product-card-button {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  padding: 8px 26px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.product-card-button:hover {
  background-color: #615048;
}
.product-card-button:focus {
  background-color: #615048;
}
.product-card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-more:hover {
  background-color: #68a2ca;
}
.button-more:focus {
  background-color: #68a2ca;
}
.button-more:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-more {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-more-green {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7db54f;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-more-green:hover {
  background-color: #6c9e42;
}
.button-more-green:focus {
  background-color: #6c9e42;
}
.button-more-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  display: block;
  width: 140px;
  text-align: right;
}

.button-more-1 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #000000;
  text-transform: uppercase;
}

.pagination {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  width: 1200px;
  padding-top: 10px;
}

.pagination-item-color {
  background-color: #f2f2f2;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.pagination-item {
  background-color: #82b3d3;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.pagination-item:hover {
  background-color: #68a2ca;
}
.pagination-item:focus {
  background-color: #68a2ca;
}
.pagination-item:active {
  background-color: #82b3d3;
}
.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
}

.pagination-link-points {
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 36px;
  padding: 0;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 1060px;
  list-style-type: none;
  background-color: #ffffff;
}

.pagination-list > li {
  margin-right: 8px;
}

.pagination-list > li:last-child {
  margin-right: 0;
}

.pagination-link-black {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  display: block;
  padding: 13px;
  line-height: 36px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  margin: auto;
}

.modal-container-close {
  display: none;
}

.modal-container-open {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-auth {
  padding: 64px 70px;
  border-radius: 50px;
}

.model-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  background-position: center;
  background-image: url(../images/close-button.svg);
  background-repeat: no-repeat;
}
.model-close-button:hover {
  background-color: #e6e6e6;
}
.model-close-button:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
}
.model-close-button:active {
  opacity: 30%;
  background-color: #e6e6e6;
}

.modal-content {
  margin: 0;
  padding: 0;
}

.modal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-list-people {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 577px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.modal-item-header {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-right: 20px;
}

.modal-item-human {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.modal-item-child {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-left: 95px;
}

.icon-i {
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
  border: none;
  position: absolute;
  top: 11px;
  left: 394px;
  cursor: pointer;
}

.icon-i::before {
  content: "i";
  width: 2px;
  height: 12px;
  color: #ffffff;
  position: absolute;
  top: 2px;
  left: 11px;
}

.auth-form {
  display: block;
  width: 100%;
}

.auth-form-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  height: 48px;
  margin: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
  position: relative;
  background-color: #f2f2f2;
  outline: none;
}

.auth-form-field-people {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  width: 440px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
  background-color: #f2f2f2;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.auth-form-field::placeholder {
  opacity: 60%;
}

.auth-form-field:hover {
  background-color: #e6e6e6;
}

.auth-form-field:focus {
  background-color: #e6e6e6;
  outline: 1px solid #83b3d3;
}

.auth-form-field:active {
  outline: 1px solid #000000;
}

.auth-form-field-people {
  height: 48px;
  padding: 0;
  margin-left: 46px;
  position: relative;
}

.modal-minus {
  width: 40px;
  height: 46px;
  background-image: url(../images/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  opacity: 30%;
  display: block;
  padding: 0;
  margin: 0;
}

.modal-minus:hover {
  opacity: 1;
}

.modal-minus:focus {
  border-radius: 3px solid #82b3d3;
}

.modal-minus:active {
  opacity: 10%;
}

.modal-plus {
  width: 40px;
  height: 46px;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  opacity: 30%;
  display: block;
  padding: 0;
  margin: 0;
}

.modal-plus:hover {
  opacity: 1;
}

.modal-plus:focus {
  border-radius: 3px solid #82b3d3;
}

.modal-plus:active {
  opacity: 10%;
}

.modal-plus-2 {
  width: 40px;
  height: 46px;
  background-image: url(../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  opacity: 30%;
  display: block;
  padding: 0;
  margin: 0;
}

.modal-plus-2:hover {
  opacity: 1;
}

.modal-plus-2:focus {
  border-radius: 3px solid #82b3d3;
}

.modal-plus-2:active {
  opacity: 10%;
}

.modal-minus-2 {
  width: 40px;
  height: 46px;
  background-image: url(../images/minus.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  opacity: 30%;
  display: block;
  padding: 0;
  margin: 0;
}

.modal-minus-2:hover {
  opacity: 1;
}

.modal-minus-2:focus {
  border-radius: 3px solid #82b3d3;
}

.modal-minus-2:active {
  opacity: 10%;
}

.field {
  background-color: #f2f2f2;
  width: 420px;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.field-people {
  width: 110px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  margin-left: 46px;
}

.field-people-2 {
  width: 110px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  margin-left: 82px;
}

.field-group {
  margin: 0;
  padding: 0;
}

.modal-item-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 48px;
  position: relative;
}

.modal-button-search {
  width: 577px;
  height: 60px;
  background-color: #82b3d3;
  border: none;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button-search:hover {
  background-color: #68a2ca;
}

.modal-button-search:focus {
  background-color: #68a2ca;
}

.modal-button-search:active {
  background-color: #68a2ca;
}

.modal-button-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  display: block;
}

.modal-button-text:active {
  opacity: 30%;
}

.error-wrapper {
  color: #ff5757;
  margin: 0;
  margin-left: 137px;
  padding: 0 20px;
}
.error {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.date-actual-wrapper {
  color: #333333;
  margin: 0;
  margin-left: 137px;
  padding: 0 20px;
}

.date-actual {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.foto-date {
  width: 20px;
  height: 20px;
  background-image: url(../images/date-icon.svg);
  background-repeat: no-repeat;
  padding: 0;
  opacity: 30%;
  position: absolute;
  top: 180px;
  right: 92px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.foto-date-too {
  width: 20px;
  height: 20px;
  background-image: url(../images/date-icon.svg);
  background-repeat: no-repeat;
  padding: 0;
  opacity: 30%;
  position: absolute;
  top: 276px;
  right: 92px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.popover {
  content: "";
  position: absolute;
  top: 50px;
  right: 45px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 256px;
  padding: 15px 18px 18px 22px;
  min-height: 143px;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #ffffff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: none;
}

.icon-i:hover + .popover {
  display: block;
}

.popover-text {
  text-align: left;
  margin: 0;
  padding: 0;
}

.popover:before {
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 18px;
  height: 18px;
  background-color: #333333;
  position: absolute;
  top: -8px;
  right: 120px;
  /* display: none; */
}
